<% if current_user.id == @user.id %>
<h1>Welcome, <%= @user.username %>!</h1>
<% else %> 
<h1>Welcome to <%= @user.username %>'s Page!</h1>
<% end %>
<br>

<% if @songs %>

<br>
    <h3>Created Songs:</h3>
        <ul>
            <% @songs.each do |song| %>
                <li>
                 <a href=".././songs/<%= song.id %>" ><%= song.title %></a>
                </li>
            <% end %>
        </ul>
<% end %> 

<% if logged_in? && current_user.id == @user.id %>

<form action="/songs/new" method="get">
    <label for="new_song">Create Songs Here!</label>
    <input type="submit" id="new_song" value="New Song">
</form>
<br><br>
<form action="/users/<%= @user.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <label for="delete_account">Sick of the Songwriting Game?</label>
    <input type="submit" id="delete_account" value="Delete Account">
</form>

<% end %>
<a href="/users/logout">Logout</a>