<h1><%= @song.title %></h1>
<p>By: <a href="/users/<%= @song_creator.id %>"><%= @song_creator.username %></a>
    <% if !@song.co_authors.empty? %>
    <br>
    With co-author(s): <%= @song.co_authors %> 
    <% end %>
</p>
<p>Created: <%= @song.date_created %></p>
<br> 

<p>Time Signature: <%= @song.time_signature %></p>
<p>Key: <%= @song.key_signature %></p>
<p>Tempo: <%= @song.tempo %></p>
<br>
<h3>Lyrics:</h3>
<% @lyrics.each do |line| %>
    <p><%= line %></p>
    <% if line == '' %> 
        <br> 
    <% end %>
<% end %>
<br>
<% if @user %>
<a href="/users/<%= @user.id %>">Return to your homepage</a>
<% end %>

<% if @user && @user.id == @song_creator.id %>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
<form action="songs/<%= @song.id %>/edit" method="get">
    <input type="submit" value="Edit">
</form>
<br>
<form action="songs/<%= @song.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
<% end %>
